/****************** 主界面蓝色导航栏 ******************/
.maintemp{
    background-color: rgba(255,255,255,1);
    border-top: rgba(221,221,221,1) 1px solid;
    text-align: center;

}
.maintemp .row{
    height: 60px;
}
.maintemp h6{
    margin-top: 10px;
}
.maintemp i{
    display: block;
}

/****************** 返回顶部组件 ******************/
.backtotop{
    position: fixed;
    right: 2em;
    bottom: 4em;
}
.topbannertepm{
    background-color: #0097FF;
    padding-top:  1em;
    padding-bottom: 1em;
}
.search{
    height: 40px;
    background-color: #0097FF;
}
.topbannerinfo{
    height: 40px;
    padding-left: 20px;
}

.typelist{
    margin-top: 50px;
}
a {
    text-decoration: none;
    color:#999999;

}
/*正常的未被访问过的链接*/
a:link {
    text-decoration: none;
}
/*已经访问过的链接*/
a:visited {
    text-decoration: none;
}
/*鼠标划过(停留)的链接*/
a:hover {
    text-decoration: none;
}
/* 正在点击的链接*/
a:active {
    text-decoration: none;
}
.tenmodel img{
    width: 80%;
}

/****************** 超级会员部分 ******************/
.bgimg {
    /*此三个样式组合，可以保证背景图片充满整个容器*/
    height: 266px;
    background-image: url(../img/index_banner.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    margin: 20px auto;
    padding-left: 50px;
    padding-top: 20px;
}
.supermember{
    background-color: #FEEDC1;
    width: 100%;
    margin: 0 auto;
    height: 100px;
}
.supermember img{
    width: 40px;
    height: 40px;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 50px;
}
.supermember h3{
    color: #644f1b;
    margin-left: 10px;
    line-height: 100px;
}
.supermember p{
    margin-left: 10px;
    line-height: 100px;
}
.productimg{
    width: 100%;
    max-width: 200px
}
.recommendstore{
    height: 100px;

}
.recommendstore h3{
    line-height: 100px;
    margin: 0px auto;
}
/****************** 超级会员部分 ******************/
.findStoreLists {
    margin-top: 30px;
    border-bottom: lightgray 1px solid;
}

/****************** 登陆注册部分 ******************/
.loginCpnTemp{
    margin: 30px auto;
}
.loginCpnTemp h4,.loginCpnTemp input,.loginCpnTemp div{
    margin-top: 20px;
}


.sexinput label{
    padding-right: 50px;
}

.busimg{
    text-align: center;
}
.topmargin{
    padding-top: 100px;
}
.bottommargin{
    padding-bottom: 100px;
}
